---
layout: default
---
<div class="home">
    <style scoped>
        {% assign image = site.header_feature_image | relative_url | split: '.' %}
        .call-out_img {
            background-image: url('{{ image | join: '.' }}');
        }
        {% if site.header_feature_image_responsive %}
        @media screen and (max-width: 768px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-medium.' | append: image[1] | default: image}}');
            }
        }
        @media screen and (max-width: 576px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-small.' | append: image[1] }}');
            }
        }
        {% endif %}
    </style>
    <section class="main-content">
        <div class="text-content">
            <h1>Get the latest on sports, technology, and investing</h1>
            <p>Every Sunday, we deliver news and insights to industry leaders. Subscribe here to stay up to date on the trends, partnerships, investments, and companies shaping the space. Read by professionals from companies such as ESPN, Fanatics, DraftKings, Boardroom, Sorare, KB Partners, Overtime and more.</p>
                <form class="newsletter-form">
                  <input type="email" required placeholder="Enter your email" />
                  <button type="submit">Subscribe</button>
                </form>
        </div>
        <div class="swiffy-slider slider-nav-autoplay slider-item-ratio slider-item-ratio-16x9 slider-nav-nodelay slider-nav-animation-slow slider-nav-mousedrag slider-indicators-highlight " data-slider-nav-autoplay-interval="7000" id="swiffy-animation">
            <ul class="slider-container" id="container1">
                {% for sliderShow in site.data.slide-show %}
                    <li id="slide1" class=""><img src="{{ sliderShow.image | relative_url }}" alt="{{silderShow.title}}" loading="lazy"></li>
                {% endfor %}
            </ul>
        
            <button type="button" class="slider-nav" aria-label="Go to previous"></button>
            <button type="button" class="slider-nav slider-nav-next" aria-label="Go to next"></button>
        
            <div class="slider-indicators">
                <button aria-label="Go to slide" class=""></button>
                <button aria-label="Go to slide" class="active"></button>
                <button aria-label="Go to slide"></button>
                <button aria-label="Go to slide"></button>
                <button aria-label="Go to slide"></button>
                <button aria-label="Go to slide"></button>
            </div>
        </div>
    </section>
    {% capture _blog %}{% include blog/blog.liquid %}{% endcapture %}
    {{ _blog | split: " " | join: " "}}
    
</div>

<script>
    
</script>