---
layout: default
---



<div class="home">
    <style scoped>
        {% include custom.css %}
        {% assign image = site.header_feature_image | relative_url | split: '.' %}
        .call-out_img {
            background-image: url('{{ image | join: '.' }}');
        }
        {% if site.header_feature_image_responsive %}
        @media screen and (max-width: 768px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-medium.' | append: image[1] | default: image}}');
            }
        }
        @media screen and (max-width: 576px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-small.' | append: image[1] }}');
            }
        }
        {% endif %}
    </style>
    <section class="main-content">
        <div class="text-content">
            <h1>{{site.title_2}}</h1>
            <p>{{ site.description }}</p>
                <form class="newsletter-form" action="https://formspree.io/f/xrbzvwye" method="post">
                  <input type="email" name="email" required placeholder="Enter your email" />
                  <textarea name="message" required placeholder="Enter your message"></textarea>
                  <button type="submit">Subscribe</button>
                </form>
        </div>
        <div class="swiffy-slider slider-nav-autoplay slider-item-ratio slider-item-ratio-16x9 slider-nav-nodelay slider-nav-animation-slow slider-nav-mousedrag slider-indicators-highlight " data-slider-nav-autoplay-interval="7000" id="swiffy-animation">
            <ul class="slider-container" id="container1">
                {% for sliderShow in site.data.slide-show %}
                    <li id="slide1" class=""><img src="{{ sliderShow.image | relative_url }}" alt="{{silderShow.title}}" loading="lazy"></li>
                {% endfor %}
            </ul>
        
            <button type="button" class="slider-nav" aria-label="Go to previous"></button>
            <button type="button" class="slider-nav slider-nav-next" aria-label="Go to next"></button>
        
            <div class="slider-indicators">
                <button aria-label="Go to slide" class=""></button>
                <button aria-label="Go to slide" class="active"></button>
                <button aria-label="Go to slide"></button>
                <button aria-label="Go to slide"></button>
                <button aria-label="Go to slide"></button>
                <button aria-label="Go to slide"></button>
            </div>
        </div>
    </section>
    <section class="blog-section">
        <a href="/blog-post">INTERESTING TO READ</a>
        <div class="post-card">

        </div>
    </section>
    
</div>

<script>
    
</script>